Idade1 = 20 Idade2 = 35 Mais e menos, multiplicação e divisão

In [1]:
idade1= 20

In [2]:
idade2= 35

In [3]:
idade1 + idade2

55

In [4]:
somaidades= idade1 + idade2

In [5]:
idade1 - idade2

-15

In [6]:
idade1 * idade2

700

In [7]:
idade1 / idade2

0.5714285714285714

In [8]:
idade1 + 10

30

In [9]:
idade1 - 15

5

In [10]:
idade1 * 4

80

In [11]:
idade1 / 5

4.0

Até agr, todas as contas estão dando certinho. Muito interessante! OPERAÇÕES MÚLTIPLAS

In [12]:
2 * (idade1 + idade2)

110

2 x (20+35) 55x2=110 - OK

In [13]:
2 * idade1 + 3 * idade2 / 4

66.25

2x20 = 40 + 3x35 = 105 / 105+40 = 145/4 = 26.25 / 40+26.25 = 66,25 - OK

In [14]:
(2 * idade1 + 3 * idade2) / 4

36.25

2x20=40 + 3x35=105 40+105=145 145/4=36.25 - OK

EXPONENCIAÇÃO **

In [15]:
idade1 ** 2

400

In [16]:
15 ** 2

225

Outras operações:

In [17]:
idade2 // idade1

1

In [18]:
idade2 / idade1

1.75

35/20=1.75 OK - 35?20=1

In [19]:
idade2 % idade1

15

35-20= 15 / CONCATENAÇÃO DE VARIÁVEIS

In [20]:
nome= 'Camila'

In [21]:
sobrenome= 'Dantas'

In [22]:
print(nome + sobrenome)

CamilaDantas

In [23]:
print(nome + ' ' + sobrenome)

Camila Dantas

In [24]:
print('Olá, ', nome, 'você tem ', idade1 + 15, 'anos.')

Olá,  Camila você tem  35 anos.

O espaço " " tambem deve ser contado como texto, e especificado como texto

In [25]:
print('Olá, ', nome, '\n', 'você tem ', idade1 + 15, 'anos.')

Olá,  Camila
 você tem  35 anos.

Quebra de linha a partir de '\n'

In [26]:
input('Digite seu nome:')

'85'

In [27]:
nome= input('Digite o seu nome:')

In [28]:
nome= str(input('Digite o seu nome:'))

Aparece uma barra para colocar nome em cima

In [29]:
age= int(input('How old are you:'))

age= 18

In [30]:
valor1= float(input('Digite um número inteiro:'))

valor1 = 50

In [31]:
valor2= float(input('Digite outro número inteiro'))

In [32]:
print(valor1 == valor2)

True

valor2 = 100

In [33]:
print(valor1 > valor2)

False

In [34]:
print(valor1 < valor2)

False

In [35]:
print(valor1 >= valor2)

True

In [36]:
print(valor1 <= valor2 )

True

Comandos ok
== comparação de semelhança
= atribuir/mesclar
maior ou igual >=
menor ou igual <=

In [37]:
numero= 10

In [38]:
print(numero>0 and numero<10)

False

In [39]:
print(numero>0 and numero==10)

True

In [40]:
print(numero>0 or numero<10)

True

In [41]:
if():
    print()
else:
    print()